# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

#All idea files
.idea/**
ze-booster.iml

# All logs
**/*.log

# All npm temp files
**/node_modules

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

#Jekyll
webapp/srcJekyll/.jekyll-metadata
webapp/public/feed.xml
webapp/public/config.js