.car-container {
  height: 400px;
  width: 400px;
  background-color: rgba(139, 139, 139, 0.09);
}
.car-container:hover {
  background-color: white;
}

.car {
  .controls {
    position: relative;
    padding: 1px 5px;
    margin-bottom: 85%;
    margin-top: -71%;
  }

  .start-stop-button {
    position: absolute;
    left: 46%;
    margin-top: 32%;
  }
  .pedal-control {
    -webkit-transform: rotate(90deg);
    margin: 14%;
    position: absolute;
    left: 63%;
    margin-left: -70px;
  }
  .pedal-control-name {
    position: absolute;
    left: 57%;
    margin-top: -6%;
  }

  .mode-indicator {
    margin: 0px;
    position: absolute;
    left: 33%;
    margin-top: 45%;
  }

  .acc-indicator {
    position: absolute;
    left: 24%;
    margin-top: 9%;
  }

  .volume-input-range {
    position: absolute;
    left: 33%;
    margin-top: 56%;
  }
  .volume-input-name {
    position: absolute;
    left: 44%;
    margin-top: 52%;
  }
}
