.car {
  width: 400px;

  .controls {
    position: relative;
    padding: 1px 5px;
    margin-top: -99%;
    margin-left: 2%;

  }
  .pedal-control {
    -webkit-transform: rotate(90deg);
    margin: 4%;
    position: absolute;
    left: 52%;
    margin-left: -70px;
  }
  .pedal-control-name {
    position: absolute;
    left: 37%;
    margin-top: -6%;
  }

  .mode-indicator {
    margin: 0px;
    position: absolute;
    left: 33%;
    margin-top: 45%;
  }

  .acc-indicator {
    -webkit-transform: rotate(180deg);
    position: absolute;
    left: 24%;
    margin-top: 9%;
  }

  .volume-input-range {
    position: absolute;
    left: 33%;
    margin-top: 56%;
  }
  .volume-input-name {
    position: absolute;
    left: 44%;
    margin-top: 50%;
  }

  .start-stop-button {
    display:block;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    font-size: 64px;

    position: absolute;
    margin-top: -31%;
    left: 0%;
  }
}
