.car {
  width: 400px;

  .controls {
    position: relative;
    padding: 1px 5px;
    margin-bottom: 85%;
    margin-top: -71%;
  }

  .start-stop-button {
    position: absolute;
    left: 46%;
    margin-top: 32%;
  }
  .pedal-control {
    -webkit-transform:rotate(90deg);
    margin: 14%;
    position: absolute;
    left: 63%;
    margin-left: -70px;
  }

  .mode-indicator {
    margin: 0px;
    position: absolute;
    left: 33%;
    margin-top: 45%;
  }

  .acc-indicator {
    position: absolute;
    left: 24%;
    margin-top: 9%;
  }
}
