<br>
<div style="font-size:16px;margin:0 auto;width:300px" class="blockchain-btn"
     data-address="17bDFwD1spkxBzmhHCsFfhVgQyMAi5xF4M"
     data-shared="false">
  <div class="blockchain stage-begin">
    <img src="https://blockchain.info/Resources/buttons/donate_64.png"/>
  </div>
  <div class="blockchain stage-loading" style="text-align:center">
    <img src="https://blockchain.info/Resources/loading-large.gif"/>
  </div>
  <div class="blockchain stage-ready">
    <p align="center">Please Donate To Bitcoin Address: <b>[[address]]</b></p>
    <p align="center" class="qr-code"></p>
  </div>
  <div class="blockchain stage-paid">
    Donation of <b>[[value]] BTC</b> Received. Thank You.
  </div>
  <div class="blockchain stage-error">
    <font color="red">[[error]]</font>
  </div>
</div>
<footer class="site-footer">
  <div class="container">
    {% include social.html %}
    <p>
      <small>&copy;{{ site.time | date: '%Y' }} All rights reserved. Made by <a href="https://www.facebook.com/zeBoosterLab/?fref=ts" target="_blank">ZE Booster Lab</a> with ♥ to Zero Emission Vehicles</small>
    </p>
  </div>
</footer>
